.stApp {
  background-color: white;
  color: black;
}

.stMarkdown,
.stTextInput,
.stButton,
.stDataFrame {
  background-color: white !important;
  color: black !important;
}

.css-1v3fvcr {
  background-color: white !important;
}

.css-1d391kg,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black !important;
}
